name: Readme CI - Stats updater

on:
  schedule:
    - cron: '0 0 */7 * *' # every 7 days
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  update:
    name: Update README.md
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v6
      - uses: yoshi389111/github-profile-3d-contrib@v0.9.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          USERNAME: ${{ github.repository_owner }}
      - name: Setup git
        run: |
          git config user.name github-actions[bot]
          git config user.email github-actions@github.com
      - name: Move generated images
        run: |
          mv ./profile-3d-contrib/profile-season-animate.svg ./images/profile-season-animate.svg
          rm -rf /profile-3d-contrib
      - name: Round the generated SVG
        run: |
          sed -i 's/<rect x="0" y="0" width="1280" height="850" class="fill-bg"><\/rect>/<rect x="0" y="0" width="1280" height="850" class="fill-bg" rx="20" ry="20"><\/rect>/g' ./images/profile-season-animate.svg
          sed -i 's/<svg /<svg style="border-radius: 20px; overflow: hidden;" /g' ./images/profile-season-animate.svg
          
      - name: Commit & Push
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: ⏱️ Scheduled README update
          commit_user_name: github-actions[bot]
          commit_user_email: github-actions[bot]@users.noreply.github.com
